In [1]:
# 만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어가라.
pocket = ['paper', 'phone']
card = True

if 'money' in pocket:          # pocket이라는 객체에 money라는 항목이 있는가를 따지는 함수 in
    print("택시를 타고 가라")
elif card:
    print('택시를 타고 가라')
else:
    print("걸어가라")

택시를 타고 가라

In [2]:

# 조건부 표현식
score = 70
message = 'success' if score >= 60 else 'failure'

In [3]:
'''
for문 구조
for 변수 in list(튜플, 문자열):
    실행문장
'''
test = ['one','two','three']
for i in test:
    print(i)
# i가 test라는 리스트의 내용으로 출력된다.

one
two
three

In [4]:
# 튜플 데이터가 리스트의 요소로 들어감
for (a,b) in [(3,4),(5,6),(7,8)]:
    print(a+b)

7
11
15

In [5]:
a='apple'
b=['apple','banana']
c=(4,5,6)

for i in a:
    print(i)

a
p
p
l
e

In [6]:
for i in a:
    print(i,end="")

apple

In [9]:
for x in b:
    print(x)

apple
banana

In [10]:
d = {'a','b','c','d'}
for x in d:
    print(x)

a
c
d
b

In [12]:
a=[33,48,60,77,88]
for i in a:
    if i>=60:
        print('합격입니다')
    else:
        print('불합격입니다')

불합격입니다
불합격입니다
합격입니다
합격입니다
합격입니다

In [14]:
# continue 는 반복문을 그냥 실행시킴
for i in a:
    if i<60:
        continue
    else:
        print('%d점으로 합격입니다.'%i)

60점으로 합격입니다.
77점으로 합격입니다.
88점으로 합격입니다.

In [16]:
a=[1,6,4,2,5,6,3]
for x in range(len(a)):
    if a[x]<4:
        continue
    print('%d값으로 pass'%a[x])

6값으로 pass
4값으로 pass
5값으로 pass
6값으로 pass

In [17]:
a = int(input('숫자를 입력하세요 : '))
for i in range(1,10):
    print('{0} * {1} = {2}'.format(a,i,a*i))

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [21]:
for i in range(1,10):
    print('구구단 %d단'%i)
    for j in range(1,10):
        print('{0} * {1} = {2} '.format(i,j,i*j))
    print('\n')

구구단 1단
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9


구구단 2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


구구단 3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


구구단 4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


구구단 5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


구구단 6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


구구단 7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


구구단 8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


구구단 9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [27]:
sum_even = 0
for i in range(0,101,2):
    sum_even += i
print(sum_even)

2550

In [30]:
sum_odd = 0
for i in range(1,100,2):
    sum_odd += i
print(sum_odd)

2500

In [31]:
sum = 0
for i in range(1,101):
    if i%5 == 0 or i%7 == 0:
        sum += i
print(sum)

1680

In [32]:
data = [4,5,6,7]
result = []
for x in data:
    result.append(x*2)
print(result)

[8, 10, 12, 14]

In [33]:
# 리스트 안에 데이터 넣기
# x*2 의 항목을 for x in data로 돌린다
data = [4,5,6,7]
result = [x * 2 for x in data]
print(result)

[8, 10, 12, 14]

In [34]:
# x*2 의 항목을 for x in data로 돌리는데 x%2==0일 경우에만 한다.
data = [4,5,6,7]
result = [x * 2 for x in data if x%2==0]
print(result)

[8, 12]

In [36]:
data = [45,66,73,24,90]

for i in data:
    if i < 60:
        print('fail')
    else :
        print('success')

fail
success
success
fail
success

In [39]:
# x*y를 이중 for문 형태로 취함.
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [40]:
# while문
a=0
sum=0
while a<10:
    a +=1
    sum += a
print(sum)

55

In [41]:
a=10
while True:
    a= a-1
    if a == 0:
        break

In [45]:
a = 0
while a < 10:
    a += 1
    print('나무를 {}번 찍었습니다.'.format(a))
print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [1]:
a = 0
while a != 4:
    k = input('''
    1. ADD
    2. DEL
    3. LIST
    4. QUIT

    ENTER NUMBER >>> 
    ''')
    a = int(k)

In [6]:
# 난수
import random
# 0~1사이의 실수
random.random()

0.41107404104823875

In [7]:
# 특정 범위의 실수
random.uniform(1,100)

40.531896727504225

In [13]:
# 특정 범위의 정수
random.randint(1,100)

94

In [44]:
# 1부터 100까지 숫자중에 1에서 2씩 증가하는 숫자중에 랜덤.
random.randrange(1,100,2)

31