In [2]:
import pandas as pd

df = pd.read_excel("imdb.xlsx")

In [3]:
# tf-idf
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=500,stop_words="english")

In [4]:
dtm = tfidf.fit_transform(df["review"])
dtm

<748x500 sparse matrix of type '<class 'numpy.float64'>'
	with 3434 stored elements in Compressed Sparse Row format>

In [6]:
word_count = pd.DataFrame({
    "단어" : tfidf.get_feature_names(),
    "tf-idf" : dtm.sum(axis=0).flat
})

In [7]:
word_count.sort_values("tf-idf",ascending=False).head()

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656

In [8]:
# 기존의 dtm에서 tf-idf로 변환
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=500, stop_words="english")
dtm2 = cv.fit_transform(df["review"])

In [9]:
from sklearn.feature_extraction.text import TfidfTransformer

trans = TfidfTransformer()
dtm3 = trans.fit_transform(dtm2)
dtm3

<748x500 sparse matrix of type '<class 'numpy.float64'>'
	with 3434 stored elements in Compressed Sparse Row format>

In [10]:
word_count2 = pd.DataFrame({
    "단어" : tfidf.get_feature_names(),
    "tf-idf" : dtm3.sum(axis=0).flat
})

In [11]:
word_count2.sort_values("tf-idf",ascending=False).head()

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656