In [1]:
# 딕셔너리를 시리즈로 변환
import pandas as pd
data = {'a':1,'b':2,'c':3}
sr=pd.Series(data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [2]:
# 리스트를 시리즈로 변환
import pandas as pd
list_data = ['2019-01-02',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [20]:
import pandas as pd
list_data = ['2019-01-02',3.14,'ABC',100,True]
sr = pd.Series(list_data)

idx = sr.index
val = sr.values
print(idx, '\n', val)

RangeIndex(start=0, stop=5, step=1)
 ['2019-01-02' 3.14 'ABC' 100 True]

In [55]:
# 튜플 -> 시리즈로 변환
import pandas as pd
tup_data = ('민수','2017-04-08','du',True)
sr = pd.Series(tup_data, index = ['이름','생년월일','성별','학생여부'])
print(sr)
print('\n')
print(sr['이름'])
print('\n')
print(sr[['이름','성별']])

이름              민수
생년월일    2017-04-08
성별              du
학생여부          True
dtype: object


민수


이름    민수
성별    du
dtype: object

In [3]:
# 리스트를 데이터프레임으로 변환
# index, column을 넣지 않으면 0,1,2로 index,column이 들어가게된다.
import pandas as pd
df = pd.DataFrame([[15,'남','덕명중'],[17,'여','수리중']], index=['준서','예은'],columns=['나이','성별','학교'])
print(df)
print('\n')
df.index = ['st1','st2']
df.columns = ['연령','남녀','소속']
print(df)
print('\n')

# inplace = False 이면 df의 original column, index는 건드리지 않겠다.
import pandas as pd
df = pd.DataFrame([[15,'male','deokmyeon'],[17,'female','suri']],index=['junseo' , 'yeun'],columns=['age','sex','school'])

df.rename(columns={'age' : '연령', 'sex' : '남녀', 'school': '소속'},inplace=True)
df.rename(index={'junseo':'student 1', 'yeun':'student 2'},inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕명중
예은  17  여  수리중


     연령 남녀   소속
st1  15  남  덕명중
st2  17  여  수리중


           연령      남녀         소속
student 1  15    male  deokmyeon
student 2  17  female       suri

In [57]:
# 데이터프레임 만들기.
import pandas as pd
x = [1,2,3]
y = [4,5,6]

df = pd.DataFrame(x ,y)

df_data = {'a':[1,2,3],'b':[4,5,6],'c':[7,8,9],'d':[10,11,12]}
dff = pd.DataFrame(df_data)
print(df,'\n',dff)

   0
4  1
5  2
6  3
    a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [41]:
# DataFrame 객체.drop( 행 인덱스 또는 배열, axis = 0)
# DataFrame 객체.drop( 열 인덱스 또는 배열, axis = 1)
# 행 삭제 로우네임과 axis = 0으로 해야한다.
import pandas as pd
data = {'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(data, index = ['서준','우현','인아'])
print(df,'\n')

df2 = df.copy()
df.drop('우현',axis = 0, inplace=True)
print(df,'\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [42]:
# 열 삭제
import pandas as pd
data = {'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(data, index = ['서준','우현','인아'])
print(df,'\n')

df4 = df.copy()
df4.drop('수학',axis=1,inplace=True)
print(df4,'\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [43]:
# 행 선택
import pandas as pd
data = {'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(data, index = ['서준','우현','인아'])
print(df,'\n')

label1 = df.loc['서준']
position1 = df.iloc
print(label1)
print('\n')
print(position1)

print(type(label1))

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


<pandas.core.indexing._iLocIndexer object at 0x0000023506622770>
<class 'pandas.core.series.Series'>

In [44]:
label2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)

print(type(label2))

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
<class 'pandas.core.frame.DataFrame'>

In [45]:
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

print(type(label3))

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
<class 'pandas.core.frame.DataFrame'>

In [107]:
# 열 선택
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)
print(df,'\n')

math1 = df['수학']
print(type(math1),'\n')

mg = df[['음악','체육']]
print(mg,'\n')
print(type(mg))

# 인덱스 출력
df.iloc[ : : 2]

# -1이면 역순으로 출력
df.iloc[ : : -1]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

<class 'pandas.core.series.Series'>

    음악   체육
0   85  100
1   95   90
2  100   90

<class 'pandas.core.frame.DataFrame'>

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

In [106]:
# '이름'열을 새로운 인덱스로 지정.
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)
print(df,'\n')

df.set_index('이름',inplace= True)
print(df)
print('\n')

# 원소 선택
a = df.loc['서준','음악']
print(a)
print('\n')

# 열 추가
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


85


    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

In [108]:
# 행 추가
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)
print(df,'\n')

df.loc['우성'] = 90
print(df,'\n')

df.loc[3]=0
print(df,'\n')

df.loc[4] = ['동규',90,80,70,60]
print(df,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
우성  90  90  90   90   90

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
우성  90  90  90   90   90
3    0   0   0    0    0

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
우성  90  90  90   90   90
3    0   0   0    0    0
4   동규  90  80   70   60

In [113]:
# 원소 값 변경
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)

# df의 열을 새로운 인덱스로 지정
df.set_index('이름',inplace= True)
print(df,'\n')

# 원소값변경
df.iloc[0][3] = 80
print(df,'\n')

df.loc['서준']['체육'] = 90
print(df,'\n')

df.loc['서준','체육'] = 100 
print(df,'\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [117]:
df.loc['서준',['음악','체육']] = 50
print(df,'\n')

df.loc['서준',['음악','체육']] = 70 ,100
print(df,'\n')

df.loc['서준']['음악','체육'] = 70 ,100
print(df,'\n')

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   70  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   70  100
우현  80  89   95   90
인아  70  95  100   90

In [120]:
# dataframe 행, 열의 위치 바꾸기
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)
print(df,'\n')

# 행,열 바꾸기
df = df.transpose()
print(df,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

In [121]:
# dataframe 행, 열의 위치 바꾸기
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)
df.set_index('이름',inplace= True)
print(df,'\n')

# 행,열 바꾸기
df = df.transpose()
print(df,'\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

In [140]:
data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]} 
df = pd.DataFrame(data)
print(df,'\n')


# 특정 열을 행 인덱스로 설정
ndf = df.set_index(['이름'])
print(ndf,'\n')

# ndf의 원래 행 인덱스를 삭제하고 새로운 열을 행의 인덱스로 지정
ndf2 = ndf.set_index(['음악'])
print(ndf2,'\n')

# ndf의 원래 행 인덱스를 삭제하고 새로운 열 2개를 행 인덱스로 지정
ndf3 = ndf.set_index(['음악','수학'])
print(ndf3,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90

        영어   체육
음악  수학
85  90  98  100
95  80  89   90
100 70  95   90

In [139]:
# 행의 인덱스를 하나만 쓸 경우
print(ndf3.loc[85])

#행의 인덱스를 두개 다 쓸 경우
print(ndf3.loc[85,90])

    영어   체육
수학
90  98  100
영어     98
체육    100
Name: (85, 90), dtype: int64

In [144]:
# 행에대한 인덱스를 새롭게 지정
# 딕셔너리 정의
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c4' : [10,11,12]}

# dataframe 정의, index = 으로 행의 인덱스
df = pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df,'\n')

# 인덱스를 재지정
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf,'\n')

# reindex로 발생한 NaN값을 숫자 0으로 채우기.
ndf = df.reindex(new_index,fill_value=0)
print(ndf,'\n')

# fill_value의 값에 따라서 자료형이 달라진다. 0.0으로 바꾸면 실수형으로 나옴. 만약 fill_value가 없다면 실수가 디폴트
ndf = df.reindex(new_index,fill_value=0.0)
print(ndf,'\n')

    c0  c1  c2  c4
r0   1   4   7  10
r1   2   5   8  11
r2   3   6   9  12

     c0   c1   c2    c4
r0  1.0  4.0  7.0  10.0
r1  2.0  5.0  8.0  11.0
r2  3.0  6.0  9.0  12.0
r3  NaN  NaN  NaN   NaN
r4  NaN  NaN  NaN   NaN

    c0  c1  c2  c4
r0   1   4   7  10
r1   2   5   8  11
r2   3   6   9  12
r3   0   0   0   0
r4   0   0   0   0

     c0   c1   c2    c4
r0  1.0  4.0  7.0  10.0
r1  2.0  5.0  8.0  11.0
r2  3.0  6.0  9.0  12.0
r3  0.0  0.0  0.0   0.0
r4  0.0  0.0  0.0   0.0

In [145]:
# 인덱스 초기화
# 딕셔너리 정의
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c4' : [10,11,12]}

# dataframe 정의, index = 으로 행의 인덱스
df = pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df,'\n')

# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf,'\n')

    c0  c1  c2  c4
r0   1   4   7  10
r1   2   5   8  11
r2   3   6   9  12

  index  c0  c1  c2  c4
0    r0   1   4   7  10
1    r1   2   5   8  11
2    r2   3   6   9  12

In [150]:
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c4' : [10,11,12]}
df = pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df,'\n')

# 내림차순으로 인덱스 정렬
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c4
r0   1   4   7  10
r1   2   5   8  11
r2   3   6   9  12

    c0  c1  c2  c4
r2   3   6   9  12
r1   2   5   8  11
r0   1   4   7  10

In [151]:
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c4' : [10,11,12]}
df = pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df,'\n')

# c1열을 기준으로 정렬
ndf = df.sort_values(by='c1',ascending=False)
print(ndf)

    c0  c1  c2  c4
r0   1   4   7  10
r1   2   5   8  11
r2   3   6   9  12

    c0  c1  c2  c4
r2   3   6   9  12
r1   2   5   8  11
r0   1   4   7  10

In [155]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100,'영어':80,'수학':90})
print(student1,'\n')

# 학생의 과목별 점수를 200으로 나누기
percentage = student1/200
print(percentage,'\n',type(percentage))

국어    100
영어     80
수학     90
dtype: int64

국어    0.50
영어    0.40
수학    0.45
dtype: float64
 <class 'pandas.core.series.Series'>

In [160]:
# 시리즈 연산
student1 = pd.Series({'국어':100,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':75,'영어':85})
print(student1,'\n')
print(student2,'\n')

# 두 학생의 과목별 점수로 사칙연산 수행, 인덱스의 순서가 달라도 같은 인덱스끼리 연산 실행
addiction = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2
print(type(division))
print('\n')

# 결과를 데이터프레임으로 합치기
result = pd.DataFrame([addiction,subtraction,multiplication,division], index = ['덧셈','뺄셈','곱셉','나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64

수학    80
국어    75
영어    85
dtype: int64

<class 'pandas.core.series.Series'>


              국어        수학           영어
덧셈    175.000000   170.000   165.000000
뺄셈     25.000000    10.000    -5.000000
곱셉   7500.000000  7200.000  6800.000000
나눗셈     1.333333     1.125     0.941176

In [162]:
# 시리즈 연산, NaN값이 있을경우
import numpy as np

student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})
print(student1,'\n')
print(student2,'\n')

# 두 학생의 과목별 점수로 사칙연산 수행, 인덱스의 순서가 달라도 같은 인덱스끼리 연산 실행
addiction = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2
print(type(division))
print('\n')

# 결과를 데이터프레임으로 합치기, NaN값이 있을경우 연산값도 NaN
result = pd.DataFrame([addiction,subtraction,multiplication,division], index = ['덧셈','뺄셈','곱셉','나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셉  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [164]:
# 시리즈 연산, NaN값을 0으로 치환했을경우
import numpy as np

student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})
print(student1,'\n')
print(student2,'\n')

# 두 학생의 과목별 점수로 사칙연산 수행, 인덱스의 순서가 달라도 같은 인덱스끼리 연산 실행
sr_add = student1.add(student2,fill_value = 0)
sr_sub = student1.sub(student2,fill_value = 0)
sr_mul = student1.mul(student2,fill_value = 0)
sr_div = student1.div(student2,fill_value = 0)

# 결과를 데이터프레임으로 합치기, NaN값이 있을경우 연산값도 NaN
result = pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div], index = ['덧셈','뺄셈','곱셉','나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셉    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

In [165]:
# 시리즈 연산, NaN값을 0으로 치환했을경우
import numpy as np

student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})
print(student1,'\n')
print(student2,'\n')

# 두 학생의 과목별 점수로 사칙연산 수행, 인덱스의 순서가 달라도 같은 인덱스끼리 연산 실행
sr_add = student1.add(student2)
sr_sub = student1.sub(student2)
sr_mul = student1.mul(student2)
sr_div = student1.div(student2)

# 결과를 데이터프레임으로 합치기, NaN값이 있을경우 연산값도 NaN
result = pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div], index = ['덧셈','뺄셈','곱셉','나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셉  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [173]:
import seaborn as sns

# 내장된 데이터셋 불러오기
titanic = sns.load_dataset('titanic')
# loc를 이용해서 [:,]모든 행을 가져오고, [['age','fare']]열을 가져온다
df = titanic.loc[:,['age','fare']]
print(df.head(),'\n',type(df))

# 데이터프레임에 숫자 10 더하기
addiction = df+10
print(addiction.head(),'\n',type(addiction))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
 <class 'pandas.core.frame.DataFrame'>
    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
 <class 'pandas.core.frame.DataFrame'>

In [174]:
# 데이터프레임끼리 연산
subtraction = addiction - df
print(subtraction.tail())

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

In [194]:
# 외부파일 읽어오기
file_path = 'Pandas_Data/read_csv_sample.csv'
df1 = pd.read_csv(file_path)
print(df1.head())
print('\n')

# header = None이면 첫줄까지 데이터로 처리해서 읽어온다.
df2 = pd.read_csv(file_path,header=None)
print(df2.head())
print('\n')


# row index에 대한 정보를 가지고오지 않는다.
df3 = pd.read_csv(file_path,index_col=None)
print(df3.head())
print('\n')

# index_col = 'c0'로 설정하면 row index에 대한 정보를 c0의 정보로 대체한다.
df4 = pd.read_csv(file_path,index_col='c0')
print(df4.head())
print('\n')

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [200]:
import pandas as pd

import xlrd

# read_excel() 함수로 데이터프레임 변환
df1 = pd.read_excel('data/남북한발전전력량.xlsx')
df2 = pd.read_excel('data/남북한발전전력량.xlsx',header= None)

print(df1,'\n',df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
           0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [7]:
df3 = pd.read_excel('C:/sh/study/Study Everyday/data files/stocks.xlsx', sheet_name=['stock2016','stock2017','stock2018'],engine="openpyxl")

In [17]:
# 웹에서 파일 가져오기
import pandas as pd
url = 'C:/sh/study/Study Everyday/data files/sample.html'
tables = pd.read_html(url)

# 표의 개수 확인
print(len(tables))
print('\n')

# 리스트의 원소들 출력
for i in range(len(tables)):
    print("tables[%s]"%i)
    print(tables[i])
    print('\n')

df = tables[1]

df.set_index(['name'],inplace=True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [33]:
# 데이터 살펴보기
df = pd.read_csv('C:/sh/study/Study Everyday/data files/auto-mpg.csv',header=None)
df.columns = ['mpg','culinders','displacement','horsepower','weight','acceleration','model year','origin','name']
print(df.head())
print('\n')
print(df.tail())

    mpg  culinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino


      mpg  culinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin             name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [23]:
# 데이터 row, column 정보
print(df.shape)

(398, 9)

In [24]:
# 데이터의 행에 대한 정보, 개수 각 열의 자료형확인. r의 str과 동일
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   culinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

In [28]:
# 각 열의 자료형 확인. 특정 열만 선택하는 것도 가능
print(df.dtypes)
print(df.mpg.dtypes)

mpg             float64
culinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object
float64

In [30]:
# 데이터프레임의 기술통계 정보 요약,
# include = 'all'로 설정할 경우 NaN값이 모두 출력된다. NaN값은 유효한 기술통계 정보가 없을 경우 출력된다. 
# 그냥 출력할 경우 NaN값이 있는 row는 출력되지 않는다.
print(df.describe())
print(df.describe(include='all'))

              mpg   culinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000
               mpg   culinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         95          NaN
top            NaN         NaN           NaN        150          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.250000        NaN  2223.750000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
75%      29.000000    8.000000    262.000000        NaN  3608.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model year      origin        name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

In [31]:
# 각 열의 데이터 개수 출력
print(df.count())
print(type(df.count()))

mpg             398
culinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64
<class 'pandas.core.series.Series'>

pandas.core.series.Series